@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  src: local('Barlow Thin'), local('Barlow-Thin'), url(./fonts/Barlow-Thin.ttf) format('truetype'), url(./fonts/Barlow-Thin.woff) format('woff'), url(./fonts/Barlow-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  src: local('Barlow ExtraLight'), local('Barlow-ExtraLight'), url(./fonts/Barlow-ExtraLight.ttf) format('truetype'), url(./fonts/Barlow-ExtraLight.woff) format('woff'), url(./fonts/Barlow-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: local('Barlow Light'), local('Barlow-Light'), url(./fonts/Barlow-Light.ttf) format('truetype'), url(./fonts/Barlow-Light.woff) format('woff'), url(./fonts/Barlow-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Barlow.eot);
  src: local('Barlow'), local('Barlow Regular'), local('Barlow-Regular'), url(./fonts/Barlow.eot?#iefix) format('embedded-opentype'), url(./fonts/Barlow.ttf) format('truetype'), url(./fonts/Barlow.woff) format('woff'), url(./fonts/Barlow.woff2) format('woff2'), url(./fonts/Barlow.svg#Barlow) format('svg');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: local('Barlow Medium'), local('Barlow-Medium'), url(./fonts/Barlow-Medium.ttf) format('truetype'), url(./fonts/Barlow-Medium.woff) format('woff'), url(./fonts/Barlow-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: local('Barlow SemiBold'), local('Barlow-SemiBold'), url(./fonts/Barlow-SemiBold.ttf) format('truetype'), url(./fonts/Barlow-SemiBold.woff) format('woff'), url(./fonts/Barlow-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(./fonts/Barlow-Bold.ttf) format('truetype'), url(./fonts/Barlow-Bold.woff) format('woff'), url(./fonts/Barlow-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'), url(./fonts/Barlow-ExtraBold.ttf) format('truetype'), url(./fonts/Barlow-ExtraBold.woff) format('woff'), url(./fonts/Barlow-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: local('Barlow Black'), local('Barlow-Black'), url(./fonts/Barlow-Black.ttf) format('truetype'), url(./fonts/Barlow-Black.woff) format('woff'), url(./fonts/Barlow-Black.woff2) format('woff2');
}

:root {
  --color-gray-dark: #475157;
  --color-gray-dark-alt: #4F585E;
  --color-gray-dark-alt2: #434D53;
  --color-gray-normal: #7f858a;
  --color-gray-light: #7D878D;

  --color-white: #fff;
  --color-green: #3dcf4e;
  --color-orange: #ea851a;
  --color-blue: #3792f1;
  --color-marine: #5f6285;
  --color-red: #e5124a;
  --color-brand: #d2bc87;
  --until-sm: 30em;
  --until-md: 48em;
  --until-lg: 61.875em;
  --until-xl: 75em;
}

// @custom-media --until-sm (max-width: 30em);
// @custom-media --until-md (max-width: 48em);
// @custom-media --until-lg (max-width: 61.875em);
// @custom-media --until-xl (max-width: 75em);



body {
  background: var(--color-gray-dark);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;

  & h1 {
    color: #0000ff;
  }
}

#root {
  min-height: 100vh;
  overflow: hidden;
}

@import './styles/main.scss';
